        </main>
        <footer class="page-footer  {{ $.Site.Params.colors.primary }}">
          <div class="footer-copyright">
            <div class="container">
              <div class="row">
                <div class="col s2">
                  © {{ .Site.Params.CopyrightYear }} {{ .Site.Params.FullName }} 
                </div>

                {{ partial "badges.html" .}}
            </div>
          </div>
        </footer>
    </body>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    </script>
</html>