<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="{{ "/css/materilio.css" | relURL }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
        <header>
                <nav>
                    <div class="nav-wrapper {{ $.Site.Params.colors.primary }}">
                      <a href="{{ "/" | relURL}}" class="brand-logo center">{{ $.Site.Params.FullName }}</a>
                      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ "/projects/" | relURL }}"> Projects</a></li>
                      </ul>
                    </div>
                </nav>
                <ul class="sidenav" id="mobile">
                     <li><a href="{{ "/projects/" | relURL }}"> Projects</a></li>
                </ul>
        </header>
        <main>
